/* Services.css */

.services {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.services h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Arial', sans-serif;
}

.services ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.services li {
    font-size: 1.25rem;
    padding: 0.5rem 0;
    color: #555;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) { 
    .services ul { 
        flex-direction: column;
    }
}

