.room { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.room-main-header, .room-tag-header { 
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.room-tag-header { 
    color: #ff4f3b;;
    position: sticky;
    top: 11vh;
}