.tags {
    display: flex;
    justify-content: space-around; /* Distributes space evenly around the tags */
    align-items: center;
    flex-direction: row;
    width: 100vw;
    padding: 10px 0; /* Added padding for spacing */
    background-color: white;
}

.tags-dark { 
    background-color: rgb(41, 34, 34);
}

.tag {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100px; 
    height: 6vh; 
    color: white;
    background-color: #ff6f61;
    border-radius: 25px; 
    font-size: 1rem; 
    font-weight: 500; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.tag:hover { 
    background-color: #ff4f3b;
    transform: scale(1.05); /* Slightly enlarges the tag on hover */
}

.room-tag-header { 
    color: #ff4f3b;;
    position: sticky;
    top: 11vh;
}

.tags-ribbon { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-color: white;
    position: sticky;
    top: 10vh;
}

.room-dark { 
    background-color: black;
}


@media (max-width: 600px) { 

    .room-main-header { 
        margin-bottom: 0px;
    }

    .tags { 
        overflow-x:hidden; 
        position: relative;
    }
}